@font-face {
    font-family: BerlinSansFBDemiBold;
    src: url(../Fonts/BerlinSansFBDemiBold.ttf);
}

:root {
    --red:#e64242;
    --blue:#6e6ef8;
    --green:#a8e647;
}

body{
    font-family: BerlinSansFBDemiBold;
    margin:0px;
    padding: 0px;
    color: white;
}

div{
    padding: 0px;
    margin: 0px;
}

ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

p{
    margin: 0px;
    padding: 0px;
}


/* ##################### HEADER ######################   */
.header{
    height: 240px;
    width:auto;
    margin: 0px;
    padding: 0px;
    background-color: black;
}

/* ##################### Content:content.html ######################   */
.container{
    background-color: #1f1e1e;
    padding-top:20px;
    padding-bottom: 20px; 
    min-height: 700px;
    width: auto;
    height: auto;
}
.taskTracking{
    background-color: rgba(23, 23, 23, 0);
    height: 140px;
    width: auto;
    margin: 0px 15px 20px 15px;
    display: block;
}

.taskTracking p{
    margin: 10px;
    font-size:32px;
}

.activeTasks{
    display: inline-block;
    float: left;
    background-color: black;
    margin:20px 0px 20px 8%;
    height:100px;
    width: 22.66%;
}

.tasksDone{
    display: inline-block;
    float: left;
    background-color: black;
    margin:20px 0px 20px 8%;
    height:100px;
    width: 22.66%;

}

.criticalTasks{
    display: inline-block;
    float: left;
    background-color: black;
    margin:20px 0px 20px 8%;
    height:100px;
    width: 22.66%;

}

.taskDetails{
    display: block;
    overflow: auto;
    background-color: #1f1e1e;
    width: calc(100%- 35px);
    margin: 20px 15px 0px 20px;
    font-size:20px;
    text-transform: uppercase;
}


.topMenuBtn{
    text-decoration: none;
    height: auto;
    width: calc(50% - 1px);
    background-color: #01013e;
    display: inline-block;
    float: left;
    padding-top:2px;
    padding-bottom: 5px;
}

blue{
    color: var(--blue);
}

green{
    color:var(--green);
}

red{
    color:var(--red);
}

.left{
    float: left;
}
.right{
    float:right;
}


p, div, h1, h2, h3, a{
    margin: 0px;
    padding: 0px;
}

body{
    color: aliceblue;
}