@font-face {
    font-family: BerlinSansFBDemiBold;
    src: url(../Fonts/BerlinSansFBDemiBold.ttf);
}

:root {
    --red:#e64242;
    --blue:#6e6ef8;
    --green:#a8e647;
}

body{
    font-family: BerlinSansFBDemiBold;
    margin:0px;
    padding: 0px;
    color: white;
}

div{
    padding: 0px;
    margin: 0px;
}

ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

p{
    margin: 0px;
    padding: 0px;
}


/* ##################### HEADER ######################   */
.header{
    height: 200px;
    width:auto;
    margin: 0px;
    padding: 0px;
    background-color: black;
}



/* ##################### Content ######################   */
.container{
    background-color: #2c2c2c;
    padding-top:20px;
    padding-bottom: 20px; 
    width: auto;
    height: auto;
}
.taskTracking{
    background-color: #171717;
    height: 140px;
    width: auto;
    margin: 0px 15px 20px 15px;
    display: block;
}

.taskTracking p{
    margin: 10px;
    font-size:32px;
}

.activeTasks{
    display: inline-block;
    float: left;
    background-color: black;
    margin:20px 0px 20px 8%;
    height:100px;
    width: 22.66%;
}

.tasksDone{
    display: inline-block;
    float: left;
    background-color: black;
    margin:20px 0px 20px 8%;
    height:100px;
    width: 22.66%;

}

.criticalTasks{
    display: inline-block;
    float: left;
    background-color: black;
    margin:20px 0px 20px 8%;
    height:100px;
    width: 22.66%;

}

.taskDetails{
    display: block;
    overflow: auto;
    background-color: #171717;
    height: auto;
    width: auto;
    margin: 20px 15px 0px 20px;
    font-size:20px;
    text-transform: uppercase;
}


.topMenuBtn{
    text-decoration: none;
    height: auto;
    width: calc(50% - 1px);
    background-color: #01013e;
    display: inline-block;
    float: left;
    padding-top:2px;
    padding-bottom: 5px;
}


.topMenuBtn:hover{
    background-color: #0e0e62;
    cursor: pointer;
}

.topMenuBtn:active{
    background-color: #0b0b4a;
}

.topMenuBtnFocused-js{
     background-color: #0b0b4a;
}

/* ##################### Content-task ######################   */
.task{
    background-color: black;
    height: auto;
    width: calc(100% - 40px);
    display: block;
    float:left;
    margin:10px;
    padding: 10px;
}

.leftTaskPanel{
    display: inline-block;
    width: 60%;
    float:left;
}

.progressBar{
    display: inline-block;
    background-color: white;
    margin-top:10px;
    height: 20px;
    width: 80%;
}


.filledProgressBar{
    width: 50%;
    height: 20px;
    display: inline-block;
    float: left;
    background-color:var(--green);
}

.progress{
    display: inline-block;
    margin-left: 10px;
    height: 20px;
    line-height: 20px;
}

.timeBar{
    display: inline-block;
    background-color:white;
    margin-top:10px;
    height: 15px;
    width: 70%;
}

.filledTimeBar{
    width:50%;
    height: 15px;
    display:inline-block;
    float:left;
    background-color:var(--red);
}

.timeleft{
    display: inline-block;
    margin-left:10px;
    font-size:15px;
    text-transform: lowercase;
}

.done-btn{
    font-size: 15px;
    color:black;
    float:right ;
    background-color: #b2e551;
    border-radius: 50%;        
    display: inline-block ;
    height: 80px ;
    width: 80px ;
    margin: 0px;
    padding: 0px;
    text-align: center;  /* horizontal align */
    line-height: 80px;  /* vertical align */

}
.done-btn:hover{
    background-color: #8eb447;
    cursor: pointer;
}

.done-btn:active{
    background-color: #809f47;
    cursor: pointer;
}

/* ##################### FOOTER ######################   */

.footer{
    height: 200px;
    width:auto;
    margin: 0px;
    padding: 0px;
    background-color: black;
}

blue{
    color: var(--blue);
}

green{
    color:var(--green);
}

red{
    color:var(--red);
}
