<div id="login"  ng-controller="loginController">
    <div class="login-panel">
        <div class="login-panel-head">
            <h1>Sign In</h1>
        </div>
        <div class="login-panel-content">
            <div>
                <i class="fas fa-user"></i>
                <input ng-model="name" type="text" placeholder="Username">
            </div>
            <div>
                <i class="fas fa-key"></i>
                <input ng-model="password" type="password" placeholder="Password">
            </div>
        </div>
        <div ng-click="loginFunction()" class="login-panel-footer">
            <a>LogIn</a>
        </div>
    </div>
</div>
