<div class="form-fade" id="modal">
    <!-- TASK FORM -->
    <div class="form" id="createTask" ng-if="modalState==1">
        <div class="form-head">
            <h1>Add New Task</h1>
        </div>
        <div class="form-body">
            <div class="form-row">
                <p class="form-row-name">Task name</p>
                <input type="text" placeholder="Task name" ng-model="newTask.name" class="form-text-input full">
            </div>
            <div class="form-row">
                <p class="form-row-name">Task description</p>
                <input type="text" placeholder="Task description"  ng-model="newTask.description" class="form-text-input full">
            </div>
            <div class="form-row">
                <p class="form-row-name">Assign to</p>
                <select class="form-select-input full" ng-options="user.name for user in newTask.project.projectUser" ng-model="newTask.assignTo">
                    <option></option>
                </select>
            </div>
        </div>
        <div class="form-footer">
            <a class="form-button succes" ng-click="createTask(newTask)">Ok</a>
            <div class="left" style="display: inline-block"></div>
            <a class="form-button fail" ng-click="changeModalState(-1)">Cancel</a>
        </div>
    </div>
    <!--- EDIT TASK -->
    <div class="form" id="editTask" ng-if="modalState==2">
        <div class="form-head">
            <h1>Edit Task</h1>
        </div>
        <div class="form-body">
            <div class="form-row">
                <p class="form-row-name">Task name</p>
                <input type="text" placeholder="Task name" ng-model="editTask.name" class="form-text-input full">
            </div>
            <div class="form-row">
                <p class="form-row-name">Task description</p>
                <input type="text" placeholder="Task description"  ng-model="editTask.description" class="form-text-input full">
            </div>
            <div class="form-row">
                <p class="form-row-name">Assign to</p>
                <select class="form-select-input full" ng-options="user.name for user in editTask.project.projectUser" ng-model="editTask.assignTo">
                    <option></option>
                </select>
            </div>
        </div>
        <div class="form-footer">
            <a class="form-button succes" ng-click="updateTask(editTask)">Ok</a>
            <div class="left" style="display: inline-block"></div>
            <a class="form-button fail" ng-click="changeModalState(-1)">Cancel</a>
        </div>
    </div>
</div>